body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
}

.main {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 2em;
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;

}

.tile {
  text-align: center;
  border: 1px solid #707070;
  border-radius: 1.5em;
  padding: 1em;
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tile>img {
  width: 100%;
  height: 35%;
  object-fit: cover;
  border-radius: 20px;

}

.tile>h3 {
  font-family: "Bradley Hand ITC", sans-serif;
}

.tile p {
  padding-bottom: 1em;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 4em;
}

.tile>button {
  border: 1px solid #707070;
  background-color: transparent;
  border-radius: 1000px;
  padding: .5em 2em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 1.5em;
  width: 50%;
  transition: 0.2s;
}

.tile>button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.tile .likes {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-weight: bold;

}

.tile .likes button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.tile .likes span.mif-heart.not-liked,  .tile .likes span.mif-heart.liked{
  /*font-size: 1.5em;*/
}

.liked {
    /*color: #8B008B;*/
    color: #FF0000;
    font-size: 1.6em;
}

.not-liked {
    color: #FFB300;
    font-size: 1.5em;
}

.tile .likes span.mif-heart.liked:hover {
    cursor: pointer;
}

.tile .likes span.mif-heart.not-liked:hover {
  animation-name: arrow-movement;
  animation-iteration-count: 1000;
  animation-duration: .3s;
  transform: scale(1.1);
  cursor: pointer;
}


/* extra styles for favourites */

.tile-container {
  display: flex;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.owner-container {
  margin-top: -100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  display: flex;
  align-self: stretch;
  justify-self: stretch;
}



.owner-info {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #FFB300;
    width: fit-content;
    height: fit-content;
    padding: 2em;
    position: absolute;
    margin-top: 8em;
    display: flex;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    -webkit-box-shadow: 0px 0px 100px 14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 100px 14px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 100px 14px rgba(66, 68, 90, 1);
    opacity: 0;
    transition: .3s;
}

.owner-info p {
    padding: 0.5em;
    margin: 0;
}

.owner-photo {
    position: absolute;
    width: 50%;
    height: 0;
    padding-bottom: 50%;
    top: calc(-25% - 2em);
    left: calc(25%);
    background-color: red;
    z-index: 100;
    background-image: url("https://images.pexels.com/photos/2379005/pexels-photo-2379005.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: 100%;
    border-radius: 1000px;
    border: 1px solid #707070;
}

.tile ion-icon[name="person-circle-sharp"] {
    position: absolute;
    left: 1rem;
    bottom: 1.5rem;
    font-size: 3rem;
    color: #000;
}

.tile ion-icon[name="person-circle-sharp"]:hover {
    cursor: pointer;
    animation: arrow-movement;
    animation-duration: .3s;
}

.owner-icon:hover + .owner-info {
    opacity: 1;
}

/* Categories styles */
.categories-container {
    display: flex;
    justify-content: center;
}

.categories-container button {
    background-color: transparent;
    border: none;
    border-radius: 100%;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4rem;
}

.category1 {
    background: greenyellow;
}

.category2 {
    background: gold;
}

.category3 {
    background: mediumpurple;
}

.category4 {
    background: grey;
}

div[class^='category'] {
    border-radius: 1em;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0.1rem .4rem;

}
.category-name {
    padding: .3rem .5rem;
}

.hidden {
    display: none;
}


@media only screen and (max-width: 1700px) {
    .offers {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1300px) {
    .main {
        width: 100vw;
    }
}

@media only screen and (max-width: 800px) {
    .offers {
        grid-template-columns: repeat(1, 1fr);
    }
}